@media(max-width:1250px){
    .wrap {
        width: 90%;
        margin: 0 auto;
    }
    
    .banner h1{
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }

    .card {
        width: 17.5%;
        margin: 1.1%;
    }

    .card p {
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .articles {
        width: 65%;
    }

    .articles article {
        width: 98%;
    }

    .footer .wrap > div {
        width: 29%;
        margin: 2%;
    }

    .footer .browser img {
        width: 15%;
    }

    .footer h5 {
        font-size: 30px;
    }
}

@media(max-width: 1080px){
    .card .category {
        font-size: 17px;
    }

    .card .description {
        font-size: 14px;
    }

    .articles {
        width: 61%;
    }
}

@media(max-width: 970px){
    .articles{
        width: 59%;
    }

    .banner h1{
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }

    .footer h5 {
        font-size: 22px;
    }
}

@media(max-width: 925px){
    .articles{
        width: 65%;
    }

    .banner h1{
        font-size: 35px;
        text-align: center;
        margin: 35px auto;
    }
    
    .lateral {
        width: 25%;
    }

    .lateral input[type="text"]{
        width: 76%;
    }

    .aside-box {
        width: 95%;
        min-height: 180px;
        height: auto;
        margin: 8px;
        padding-bottom: 5px;
    }

    .login input[type="email"], 
    .login input[type="password"]{
        width: 74%;
    }

    .login input[type="email"], 
    .login input[type="password"],
    .login input[type="reset"],
    .login button{
        margin-bottom: 0px;
    }

    .login input[type="submit"]{
        width: 81%;
        margin-bottom: 10px;
    }

    .login input[type="reset"]{
        display: none;
    }

    .login a {
        margin: 10px 0px 10px 0px;
    }

    .footer img {
        width: 100%;
    }

    .footer .browser img {
        width: 13%;
    }
}

@media(max-width: 860px){
    .banner h1 {
        font-size: 29px;
    }

    .lateral h3 {
        font-size: 20px;
    }

    .lateral input[type="text"]{
        width: 72%;
    }
}

@media(max-width: 734px){
    .card {
        height: auto;
        width: 17%;
        margin: 1.3%;
    }

    .card .category {
        font-size: 15px;
        margin-top: -23px;
    }

    .card .description {
        display: none;
    }

    .lateral input[type="text"]{
        width: 69%;
    }

    .footer ul li a{
        font-size: 68%;
    }
}

@media(max-width: 723px){
    .header {
        width: 100%;
        height: 108px;
        padding-top: 10px;
    }

    .menu {
        clear: both;
        float: none;
        width: 435px;
        margin: 0 auto;
    }

    .logo{
        float: none;
        width: 200px;
        margin: 0 auto;
    }
}

@media(max-width: 665px){
    .wrap {
        width: 95%;
    }

    .lateral {
        float: none;
        width: 100%;
        margin: 0 auto;
        min-height: auto;
        margin-top: 20px;
    }

    .articles{
        float: none;
        width: 100%;
        margin: 0 auto;
        min-height: auto;
    }

    .lateral input[type="text"] {
        width: 91%;
    }

    .login input[type="email"], 
    .login input[type="password"] {
        width: 92%;
    }

    .login input[type="submit"] {
        width: 95%;
    }

    .login a {
        margin-left: 15px;
    }

    .footer {
        height: auto;
        padding-bottom: 40px;
    }

    .footer .wrap > div {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .footer img {
        width: 50%;
    }

    .footer .browser img {
        width: 9%;
    }
}

@media(max-width: 524px){
    .logo {
        float: left;
    }

    .header {
        width: 100%;
        height: 258px;
        padding-top: 10px;
    }

    .menu {
        float: none;
        clear: both;
        width: 100%;
        margin: 0 auto;
    }

    .menu ul li {
        width: 100%;
        line-height: 50px;
    }

    .menu ul li a:hover {
        color: #37bcf9;
        transform: scale(1, 1);
    }

    .banner {
        height: 85px    ;
    }

    .menu {
        clear: both;
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    .banner h1 {
        font-size: 25px;
        margin: 28px auto;
    }

    .card {
        height: auto;
        width: 17%;
        margin: 1%;
    }

    .lateral input[type="text"] {
        width: 89%;
    }

    .login input[type="email"], 
    .login input[type="password"] {
        width: 86%;
    }

    .login .user, 
    .login .password{
        margin-left: 25px;
    }

    .articles article {
        width: 96%;
    }

    .articles article h4 {
        margin-top: 20px;
    }

    .articles .data {
        float: none;
        margin: -10px;
        border-radius: 0px 0px 0px 0px;
    }

    .login input[type="submit"] {
        width: 93%;
    }

    .footer {
        padding-bottom: 0px;
    }

    .card .icon{
        font-size: 40px;
    }

    .card:hover .icon {
        font-size: 43px;
    }

    .card .category {
        font-size: 13px;
    }
}